.navbar {
    background-color: #4C956C;
    margin: 0;
    padding: 10px;
    list-style-type: none; 
    font: 20px "Raleway", sans-serif; 
    font-weight: 500;
    color: black;
    background-image: linear-gradient(to right, #225538, #4C956C, #FEFEE3, #FFC9B9);
}

#homeIcon {
    font: 40px "Caveat", sans-serif; 
    font-weight: 500;
    color: white;
}

#homeIcon img {
    border-radius: 50%;
}

#orderBtn{
    font: 20px "Caveat", sans-serif;
}

footer { 
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to right, #225538, #4C956C, #FEFEE3, #FFC9B9);
    color: white;
}

.carousel {
    border: black 2px;
}

#beeFooter {
    font: 20px "Raleway", sans-serif; 
    text-align: left;
}

#beeEmail, #beePhone{
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    font: 20px "Raleway", sans-serif;
    color: white;
    background-color: rgba(117, 114, 105, 0.322); 
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

h3 {
    font: 40px "Caveat", sans-serif; 
    font-weight: 500;
}

h4, p {
    font: 20px "Raleway", sans-serif; 
}


#aboutSection {
    margin: 0;
    padding: 10px;
}

.row-content {
    margin: 5px;
    padding: 50px 0;
    min-height: 200px;
    text-align: center;
}

.nav-link a {
    font: 20px "Raleway", sans-serif; 
}

a, a:hover {
    color: #D68C45;
    text-decoration: none;
}



#addInfo p {
    font: 15px "Raleway", sans-serif; 
}

#addInfo {
    margin: 5px;
    padding: 10px;
}

hr {
    /* Gradient transparent - color - transparent */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
