/*start scss variables*/
$color-primary: #2C6E49;
$color-secondary: #4C956C;
$color-accent: #FFC9B9;
$color-highlights: #FEFEE3;


$text-main-color: #082214;
$text-secondary-color: #43280F;

$text-font-headings: 'Caveat', sans-serif;
/*end scss variables*/

/*Makes all font Open Sans*/
body {
    font-family: $text-font-headings;
}

/*Makes all headings cursive*/
h1, h2, h3 {
    font-family: $header-font;
}

/*All h2 headings are blue*/
h2 {
    color: $color-primary;
}

/*All header h2 elements are a lighter blue*/
/*Shows sass nesting*/
header {
    h2 {
        color: $color-primary;
    }
}



.navbar {
    background-color: #4C956C;
}
