/*start scss variables*/
$color-primary: #2C6E49;
$color-secondary: #4C956C;
$color-accent: #FFC9B9;
$color-highlights: #FEFEE3;


$text-main-color: #082214;
$text-secondary-color: #43280F;

$text-font-headings: 'Caveat', sans-serif;
/*end scss variables*/

div {
    h1 {
        font: 'Raleway', #43280F;
    }
}