.navbar {
    background-color: #4C956C;
    margin: 0;
    padding: 10px;
}

nav ul {
    list-style-type: none; 
    font: 20px "Raleway", sans-serif; 
}

body {
    font-family: "Raleway", sans-serif;
}

footer { 
    margin: 0;
    padding: 20px;
    background-color: #4C956C;
    color: white;
}

footer div {
    font: 20px "Raleway", sans-serif; 
}

#beeEmail, #beePhone{
    color: inherit;
    text-decoration: none;
}

